body {
  background-color: #301743;
  color: white;
  font: bold 40px Sans-Serif;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background: #2a2c3c;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.card img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.bahasa {
  font-size: 35px;
  padding: 10px;
}

.judul {
  font-weight: bold;
  margin-top: 5px;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #262626;
    color: white;
  }
}

#detail {
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 75px;
}

.box {
  background-color: #2a2c3c;
  color: #ffffff;
}

.halaman {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: #00000053;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

#genre, #karakter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.genre-tag, .karakter-tag {
  background: rgba(255,255,255,0.1);
  color: #ddd;
  padding: 6px 12px;
  border-radius: 999px; /* bikin bulat */
  font-size: 40px;
  border: 1px solid rgba(255,255,255,0.2);
}