body {
  background-color: #301743;
  color: white;
  font: bold 40px Sans-Serif;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background: #2a2c3c;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.bahasa {
  font-size: 35px;
}

.title {
  font-weight: bold;
  margin-top: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #262626;
    color: white;
  }
}

#detail {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 75px;
}

.box {
  background-color: #452d57;
  color: #ffffff;
}

.halaman {
  
}